<ion-view title="About" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="about-heading9" style="color:#000000;">Σxtractor</h1>
    <ion-list id="about-list3">
      <ion-item class="item-icon-left" id="about-list-item14">
        <i class="icon ion-cube"></i>Version
        <span class="item-note">v0.0</span>
      </ion-item>
      <ion-item class="item-icon-left" id="about-list-item15">
        <i class="icon ion-android-phone-portrait"></i>Device ID
        <span class="item-note">1</span>
      </ion-item>
      <ion-item class="item-icon-left" id="about-list-item16">
        <i class="icon ion-android-phone-portrait"></i>Bluetooth address
        <span class="item-note">00:00:00:00:00</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>