<ion-view title="Match" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="match-form2" class="list">
      <label class="item item-input" id="match-input4">
        <span class="input-label">Match</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="match-input6">
        <span class="input-label">Team</span>
        <input type="number" placeholder="">
      </label>
      <div class="spacer" style="height: 50px;"></div>
      <h3 id="match-heading3" style="color:#000000;">Autonomus</h3>
      <ion-checkbox id="match-checkbox2">Was able to break baseline</ion-checkbox>
      <label class="item item-input" id="match-input9">
        <span class="input-label">Fuel launched into the high position</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="match-input10">
        <span class="input-label">Fuel launched into the low position</span>
        <input type="number" placeholder="">
      </label>
      <ion-checkbox id="match-checkbox6">Delivered gear</ion-checkbox>
      <div class="spacer" style="height: 50px;"></div>
      <h3 id="match-heading2" style="color:#000000;">Tele-operated </h3>
      <label class="item item-input" id="match-input18">
        <span class="input-label">Fuel launched into the high position</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="match-input19">
        <span class="input-label">Fuel launched into the low position</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="match-input21">
        <span class="input-label">Number of gears delivered</span>
        <input type="number" placeholder="">
      </label>
      <ion-checkbox id="match-checkbox10">Took off</ion-checkbox>
      <div class="spacer" style="height: 50px;"></div>
      <h3 id="match-heading4" style="color:#000000;">Tags</h3>
      <ion-checkbox id="match-checkbox11">No show</ion-checkbox>
      <ion-checkbox id="match-checkbox12">Didn't move</ion-checkbox>
      <ion-checkbox id="match-checkbox13">Flipped</ion-checkbox>
      <ion-checkbox id="match-checkbox15">Stuck</ion-checkbox>
      <ion-checkbox id="match-checkbox14">Fell</ion-checkbox>
      <ion-checkbox id="match-checkbox16">Penalized</ion-checkbox>
      <div class="spacer" style="height: 50px;"></div>
      <h3 id="match-heading8" style="color:#000000;">Performance</h3>
      <ion-radio id="match-radio24" name="performance">Confused</ion-radio>
      <ion-radio id="match-radio25" name="performance">Slow</ion-radio>
      <ion-radio id="match-radio26" name="performance">Efficient</ion-radio>
      <ion-radio id="match-radio23" name="performance">Powerhouse</ion-radio>
      <button id="match-button1" class="button button-balanced button-large button-block icon-left ion-android-send">Save</button>
    </form>
  </ion-content>
</ion-view>