<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="menu-tabs1">
    <ion-tab title="Match" icon="ion-clipboard" href="#/menu/match" id="menu-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Pit" icon="ion-clipboard" href="#/menu/pit" id="menu-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Transfer" icon="ion-android-send" href="#/menu/transfer" id="menu-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Schedule" icon="ion-calendar" href="#/menu/schedule" id="menu-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="About" icon="ion-cube" href="#/menu/about" id="menu-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>