<ion-view title="Pit" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="pit-form8" class="list">
      <label class="item item-input" id="pit-input23">
        <span class="input-label">Team</span>
        <input type="number" placeholder="">
      </label>
      <div class="spacer" style="height: 50px;"></div>
      <h3 id="pit-heading5" style="color:#000000;">Autonomus</h3>
      <ion-checkbox id="pit-checkbox17">Mobility</ion-checkbox>
      <ion-checkbox id="pit-checkbox18">Fuel high</ion-checkbox>
      <ion-checkbox id="pit-checkbox26">Fuel low</ion-checkbox>
      <ion-checkbox id="pit-checkbox27">Gear delivered</ion-checkbox>
      <ion-checkbox id="pit-checkbox28">Multiple rutines</ion-checkbox>
      <div class="spacer" style="height: 50px;"></div>
      <h3 id="pit-heading6" style="color:#000000;">Tele-operated </h3>
      <ion-checkbox id="pit-checkbox19">Fuel high</ion-checkbox>
      <ion-checkbox id="pit-checkbox29">Fuel low</ion-checkbox>
      <ion-checkbox id="pit-checkbox30">Gear delivered</ion-checkbox>
      <ion-checkbox id="pit-checkbox31">Takeoff</ion-checkbox>
      <ion-radio id="pit-radio10" name="role">Main role is deliver fuel</ion-radio>
      <ion-radio id="pit-radio11" name="role">Main role is deliver gears</ion-radio>
      <div class="spacer" style="height: 50px;"></div>
      <h3 id="pit-heading7" style="color:#000000;">Robot</h3>
      <ion-radio id="pit-radio12" name="drive">4 wheel drive</ion-radio>
      <ion-radio id="pit-radio14" name="drive">6 wheel drive</ion-radio>
      <ion-radio id="pit-radio13" name="drive">Tank drive</ion-radio>
      <ion-radio id="pit-radio21" name="drive">Other drive system</ion-radio>
      <ion-checkbox id="pit-checkbox25">Camera</ion-checkbox>
      <ion-checkbox id="pit-checkbox33">Vision tracking</ion-checkbox>
      <ion-radio id="pit-radio17" name="fuel">Can only pick up fuel from ground</ion-radio>
      <ion-radio id="pit-radio20" name="fuel">Can only pick up fuel from station</ion-radio>
      <ion-radio id="pit-radio16" name="fuel">Can pick up fuel from both ground and station</ion-radio>
      <ion-radio id="pit-radio19" name="gear">Can only pick up gear from ground</ion-radio>
      <ion-radio id="pit-radio18" name="gear">Can only pick up gear from station</ion-radio>
      <ion-radio id="pit-radio15" name="gear">Can pick up fuel from both ground and station</ion-radio>
      <button id="pit-button2" class="button button-balanced button-large button-block icon-left ion-android-send">Save</button>
    </form>
  </ion-content>
</ion-view>